
body{
    padding: 0;
    margin: 0;
}
nav{
    background-color: teal;
    color: white;
    min-height: 15vh;
}

.nav-links{
    text-align: right;
 
}

.nav-heading{
    font-size: large;
    font-weight:bolder;
}

.list-inline{
    display: inline-block;
    list-style: none;
    font-weight: bold ;
}

a{
    text-decoration: none;
    margin-right: 1rem;
    color: white;
    font-size: medium;
    
}

.container-center{
    text-align: center;
}

input,label,button{
    display: block;
    margin: auto;
    font-weight: bold;
}


input{
    width: 40%;
    border-radius: 20px;
    text-align: center;
    padding:  10px;
    margin-top: 1rem;
}


button{
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
  }


#output-div{
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
}

.link-active{
    color: black;
}



